@CHARSET "utf-8";

/*decoration for the website*/
html {
	background-size: 100% 100%;
	background: url('../material/bg.jpg') no-repeat;
	background-attachment: fixed;
}

b {
	font-size: 20px;
}

hr {
	margin-top: 20px;
	margin-bottom: 15px;
}

body {
	width: 100%;
	height: 768px;
	background-color: transparent;
}

nav {
	float: right;
	margin-right: 5%;
	width: 50%;
	height: 45px;
}

menu,ul,li,a,h3 {
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
	background-color: transparent;
}

h3 {
	font-weight: bold;
	line-height: 16px;
}

a {
	text-decoration: none;
}

em {
	font: inherit;
	color: #abcdef;
	font-size: 23px;
}

menu,ul {
	display: block;
}

ul {
	list-style: none;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}

div {
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	padding: 0;
	display: block;
}

img {
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.show {
	width: 40px;
	height: 40px;
}

.like {
	padding-left: 65%;
	height: 25px;
	width: 25px;
	height: 25px;
}

iframe {
	background-color: transparent;
}

.grid-layout {
	width: 976px;
	margin: 0 auto;
	position: relative;
	background-color: transparent;
}

div .row {
	height: 1%;
}

.homepage {
	font-family: arial, sans-serif;
	font-size: 14px;
	color: #333333;
	margin: 0 auto;
	background: #ffffff;
	border: 10px;
	background-color: transparent;
}

.main-header {
	width: 100%;
	margin-left: -8px;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 0;
	z-index: 999;
}

.main-header li {
	display: inline;
}

.profile-bar {
	margin: -8px -8px 0 0;
	background-color: #3A4951;
	text-align: left;
	font-weight: normal;
	font-size: 16px;
	line-height: 45px;
	height: 45px;
	position: relative;
}

.profile-bar a .logo {
	left: 0;
	padding: 0;
	position: relative;
}

.profile-bar a,.profile-bar a:visited {
	color: #ffffff;
	padding: 0 20px 0 10px;
	font-size: 16px;
	font-weight: bold;
}

.profile-bar ul {
	float: right;
	margin: 0 -4px 0 0;
}

.profile-bar li {
	padding-left: 10px;
}

.search {
	float: left;
	margin: 5px 2px 5px 2px;
	padding: 4px 2px 4px 2px;
}

.search_input {
	outline: none;
	width: 73%;
	background: #ffffcc;
	margin: 0;
	border: none;
	font-size: 12px;
	height: 16px;
	color: #999999;
	float: left;
	border-radius: 10px 0 0 10px;
	padding: 4px 4px 4px 4px;
}

.search a {
	text-indent: -9999em;
	float: left;
	width: 10%;
	height: 16px;
	margin-right: 10px;
	cursor: pointer;
	background: url('../material/search_button.png') no-repeat 0 3px #ffffcc;
	padding: 4px 4px 4px 4px;
	border-radius: 0 10px 10px 0;
}

.search a:link,.search a:visited {
	color: #ffffcc;
	text-decoration: none;
}

.module {
	border: 1px solid #e1e1e1;
	border-radius: 10px;
	padding: 15px;
	margin: 10px auto 20px auto;
	background-color: transparent;
}

.login,.sign_up,.ask_question,.display {
	overflow: hidden;
	margin: 50px auto 20px auto;
	margin-top: 80px;
	background-color: transparent;
	background-image: -o-linear-gradient(left, #ffffcc 0%, #ffffcc 100%);
	background-image: -moz-linear-gradient(left, #ffffcc 0%, #ffffcc 100%);
	background-image: -webkit-linear-gradient(left, #faebdf 0%, #faebdf 100%);
	background-image: -ms-linear-gradient(left, #ffffcc 0%, #ffffcc 100%);
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #ffffcc),
		color-stop(1, #ffffcc));
	color: #000000;
	padding: 15px;
	opacity: 0.85;
	background-color: transparent;
}

.display {
	boder-bottom: 1px solid;
}

.summary {
	float: left;
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
}

.question_title {
	float: left;
	font-weight: bold;
}

.question_title a {
	text-decoration: none;
	cursor: pointer;
}

.question_title a:visited { #4A6B83;
	
}

.question_content {
	padding: 0 5px;
	width: 750px;
	display: table-cell;
	vertical-align: middle;
	height: 44px;
}

.content {
	margin-top: 80px;
	width: 80%;
}

.side_menu {
	border-radius: 5px 5px 5px 5px;
	margin-top: 10px;
	width: 15%;
	height: 730px;
	float: right;
	background-color: #e1e1e1;
	position: relative;
	opacity: 0.8;
	margin-top: 10px;
}

.side_menu .tag {
	width: 92%;
	height: 28px;
	font-size: 20px;
	border-radius: 5px;
	float: left;
	background-color: #FFFFCC;
	margin: 3% 3% 3% 3%;
	border-radius: 5px;
}

.side_menu .tag a,.side_menu .tag a:hover,.side_menu .tag a:link,.side_menu .tag a:visited
	{
	color: #ABCDEF;
}

#username_span {
	margin-left: -4px;
}

.display {
	width: 85%;
	margin-top: 10px;
	margin-left: 3%;
}

.login {
	width: 350px;
	height: 245px;
}

.sign_up {
	width: 350px;
	height: 300px;
}

.ask_question {
	width: 500px;
	height: 480px
}

.login .username,.sign_up .username {
	height: 32px;
	width: 80%;
	float: left;
	margin-left: 30px;
	margin-top: 20px;
	position: relative;
	z-index: 999;
	background-color: transparent;
	margin-top: 15px;
}

.ask_question .caption {
	height: 32px;
	width: 80%;
	float: left;
	margin-left: 30px;
	margin-top: 20px;
	position: relative;
	z-index: 999;
	background-color: transparent;
}

.login input[type='text'],.sign_up input[type='text'] {
	border-radius: 5px;
	box-shadow: inset 0 5px 5px #f5f5f5;
	border: 1px solid #d1d1d1;
	width: 50%;
	margin: 0 0 10px 0;
	margin-left: 13px;
	font-family: arial, sans-serif;
	font-size: 16px;
	padding: 7px 8px 6px 8px;
	outline: none;
}

.ask_question .caption input[type='text'],.ask_question .category input[type='text']
	{
	border-radius: 5px;
	box-shadow: inset 0 5px 5px #f5f5f5;
	border: 1px solid #d1d1d1;
	width: 65%;
	margin: 0 0 10px 0;
	margin-left: 35px;
	font-family: arial, sans-serif;
	font-size: 16px;
	padding: 7px 8px 6px 8px;
	outline: none;
}

.ask_question .description textarea {
	border-radius: 5px;
	box-shadow: inset 0 5px 5px #f5f5f5;
	border: 1px solid #d1d1d1;
	width: 65%;
	margin: 0 0 10px 0;
	margin-top: 10px;
	margin-left: 19%;
	font-family: arial, sans-serif;
	font-size: 16px;
	padding: 7px 8px 6px 8px;
	outline: none;
	height: 100%;
	resize: none;
}

.login .password,.sign_up .password {
	height: 32px;
	width: 80%;
	float: left;
	margin-left: 30px;
	position: relative;
	z-index: 999;
	background-color: transparent;
	margin-top: 30px;
}

.ask_question .category,.ask_question .description,.ask_question .picture
	{
	height: 32px;
	width: 80%;
	float: left;
	margin-left: 30px;
	position: relative;
	z-index: 999;
	background-color: transparent;
	margin-top: 30px;
}

.login input[type='password'],.sign_up input[type='password'] {
	border-radius: 5px;
	box-shadown: inset 0 5px #f5f5f5;
	border: 1px solid #d1d1d1;
	width: 50%;
	margin: 0 0 10px 0;
	margin-left: 27px;
	font-family: arial, sans-serif;
	font-size: 16px;
	padding: 7px 8px 6px 8px;
	outline: none;
}

.login .button,.sign_up .button,.ask_question .button {
	height: 32px;
	width: 80%;
	float: left;
	margin-left: 30px;
	margin-top: 20px;
	position: relative;
	z-index: 999;
	background-color: transparent;
}

.answer .button {
	background: tranparent;
}

.login input[type=submit],.sign_up input[type=submit],.ask_question input[type=submit],.ask_question input[type=file],.answer input[type=submit],.message input[type=submit]
	{
	color: #000000;
	width: 25%;
	font-size: 16px;
	font-weight: bold;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background: url('../material/primary-button.png') repear-x 0 0 #93a445;
	padding: 7px 15px 6px 15px;
	border: 1px solid #93a533;
	cursor: pointer;
	border-radius: 5px;
	dislay: inline-block;
	line-height: normal;
}

.ask_question input[type=file] {
	width: 55%;
	margin-left: 22%;
	margin-top: 28%;
}

.login input[type=submit],.sign_up input[type=submit] {
	margin-left: 27%;
}

.ask_question input[type=submit] {
	margin-left: 30%;
	margin-top: 125px;
}

.sign_up .confirm_password {
	height: 32px;
	width: 80%;
	float: left;
	margin-left: 30px;
	margin-top: 20px;
	position: relative;
	z-index: 999;
	background-color: transparent;
	margin-top: 30px;
}

.confirm_password input[type='password'] {
	margin-left: 3px;
}

.question_display {
	width: 81%;
	height: 700px;
}

.main-footer {
	width: 100%;
	margin-left: -8px;
	background-color: transparent;
	margin-top: 45px;
}

.tag {
	height: 20px;
	text-align: center;
	baseline: vertical;
	border-bottom: 1px solid #3E6D8E;
	border-right: 1px solid #7F9FB6;
	color: #3e6d8e;
	font-size: 16px;
	margin: 2px 2px 2px 10px;
	padding: 2px 4px;
	text-decoration: none;
	white-space: nowrap;
	background-color: #E0EAF1;
	float: right;
}

.question_detail,.personal {
	width: 50%;
	background-color: #ffffcc;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	opacity: 0.85;
}

.question_detail .title,.personal .title {
	background: none;
}

.personal .p_username {
	margin-left: 10%;
	font-size: 16px;
	font-weight: normal;
	text-align: left;
}

.personal .p_mark {
	text-align: left;
	font-size: 16px;
	font-weight: normal;
	margin-left: 10%;
}

.question_detail .tag {
	margin-right: 10%;
	margin-top: -25px;
	float: right;
	height: 30px;
	border-radius: 5px;
	background-color: #E0EAF1;
	text-align: center;
	color: #3e6d8e;
	font-size: 20px;
	padding: 2px 4px;
	text-decoration: none;
	white-space: nowrap;
}

.question_detail .description {
	margin-top: 20px;
	margin-left: 10%;
	margin-right: 10%;
	font-weight: normal;
	font-size: 16px;
	text-align: left;
}

.question_detail .author {
	font-size: 16px;
	float: right;
	margin-right: 15%;
	font-weight: normal;
}

.question_detail .picture img {
	width: 550px;
	height: 450px;
	margin-top: 20px;
	text-align: center;
}

.answerarea {
	padding-bottom: 20px;
}

.question_detail .answer textarea {
	border-radius: 5px;
	box-shadow: inset 0 5px 5px #f5f5f5;
	border: 1px solid #d1d1d1;
	width: 70%;
	margin-top: 10px;
	margin-right: 11%;
	font-family: arial, sans-serif;
	font-size: 16px;
	padding: 7px 8px 6px 8px;
	outline: none;
	height: 100%;
}

.messagearea {
	text-align: left;
}

.message .button {
	text-align: center;
	height: 32px;
	width: 80%;
	margin-left: 30px;
	margin-top: 20px;
	position: relative;
	z-index: 999;
	background-color: transparent;
}

.message textarea {
	box-shadow: inset 0 5px 5px #f5f5f5;
	border: 1px solid #d1d1d1;
	width: 70%;
	margin-top: -20px;
	margin-right: 11%;
	font-family: arial, sans-serif;
	font-size: 16px;
	padding: 7px 8px 6px 8px;
	outline: none;
	height: 100%;
	border-radius: 5px;
}

.question_detail label {
	float: left;
}

input[type='number'] {
	visibility: hidden;
}

.module .answer_display,.module .message_display {
	font-weight: normal;
	text-align: left;
}

.answer_display .username,.message_display .username {
	font-weight: normal;
	text-align: left;
	float: left;
	color: #abcdef;
}

.content input[type='text'] {
	border-radius: 5px;
	box-shadow: inset 0 5px 5px #f5f5f5;
	border: 1px solid #d1d1d1;
	width: 50%;
	margin: 0 0 10px 0;
	margin-left: 10%;
	font-family: arial, sans-serif;
	font-size: 16px;
	padding: 7px 8px 6px 8px;
	outline: none;
}

.content input[type=button] {
	color: #000000;
	width: 10%;
	font-size: 16px;
	font-weight: bold;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background: url('../material/primary-button.png') repear-x 0 0 #93a445;
	padding: 7px 15px 6px 15px;
	border: 1px solid #93a533;
	cursor: pointer;
	border-radius: 5px;
	dislay: inline-block;
	line-height: normal;
}

.answer_display .answer_content {
	font-weight: normal;
	font-size: 16px;
}

.answer_display .stairs,.message_display .stairs {
	float: right;
	text-align: left;
	font-size: 12px;
	color: #aabbcc;
}

.footer {
	margin: -8px -8px 0 0;
	text-align: center;
	font-weight: normal;
	font-size: 13px;
	line-height: 35px;
	height: 35px;
	position: relative;
	margin-bottom: 10px;
}